body {
    margin: 0;
    font-family: Poppins, Inter;
    background: #0f1720;
    color: #e9eef6;
    padding: 18px
}

.wrap {
    max-width: 1100px;
    margin: 0 auto
}

.top {
    display: flex;
    align-items: center;
    gap: 12px;
    margin-bottom: 12px
}

.back {
    padding: 8px;
    border-radius: 8px;
    background: rgb(36, 161, 4);
    border: 0;
    cursor: pointer
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 8px
}

th,
td {
    padding: 10px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.03);
    text-align: left
}

th {
    color: #9aa4b2;
    font-weight: 600
}

.small-btn {
    padding: 6px 8px;
    border-radius: 8px;
    border: 0;
    background: rgba(255, 255, 255, 0.03);
    color: inherit;
    cursor: pointer
}

.status-sent {
    color: #76d28c;
    font-weight: 800
}

.status-pending {
    color: #ffd166;
    font-weight: 800
}

@media(max-width:900px) {
    table {
        font-size: 13px
    }

    td.actions {
        display: flex;
        gap: 6px
    }
}

/* for scrollbar */
::-webkit-scrollbar {
    width: 1px;
}

::-webkit-scrollbar-thumb {
    border-radius: 100px;
    background-color: rgb(8, 105, 5);

}

::-webkit-scrollbar-track {
    background-color: rgba(21, 108, 4, 0);

}